body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #3975A3;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
#topname {
    margin-top:10vh;
    font-size: 500%;
}
#submitForm {
	color: #000000;
}
#searchForm {
	color: #000000;
}