body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #3975A3;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
#topname {
    margin-top:10vh;
    font-size: 500%;
}
.myforms {
	color: #000000;
}
#logoutbutton {
	position: absolute;
	top: 20px;
    right: 20px;
	color: #000000;
}
#newlistform {
	color: #000000;
	position: absolute;
	top: 60px;
    right: 20px;
}